<aside id="basicSidebar" class="pmd-sidebar bg-light pmd-z-depth" role="navigation">
  <ul class="nav flex-column pmd-sidebar-nav">
      <li class="nav-item pmd-user-info">
          <a data-toggle="collapse" href="#collapseExample" class="nav-link btn-user media align-items-center">
              <div class="media-body">
                  User
              </div>
          </a>
          <ul class="collapse" id="collapseExample" data-parent="#basicSidebar">
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="material-icons pmd-list-icon pmd-sm">delete</i>
                      <span class="media-body">View Profile</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="material-icons pmd-list-icon pmd-sm">delete</i>
                      <span class="media-body">Settings</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="material-icons pmd-list-icon pmd-sm">delete</i>
                      <span class="media-body">Logout</span>
                  </a>
              </li>
          </ul>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="material-icons pmd-list-icon pmd-sm">inbox</i>
              <span class="media-body">Inbox</span>
          </a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link active" href="#">
              <i class="material-icons pmd-list-icon pmd-sm">star</i>
              <span class="media-body">Stared</span>
          </a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="material-icons pmd-list-icon pmd-sm">send</i>
              <span class="media-body">Sent Email</span>
          </a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="material-icons pmd-list-icon pmd-sm">drafts</i>
              <span class="media-body">Drafts</span>
          </a>
      </li>
  </ul>
</aside>